.papper p{
    font-size: 15px;
}


:root {
    --main-line-color: hsl(234, 62%, 86%);
    --side-line-color: hsl(350, 100%, 91%);
    --paper-color: hsl(0, 15%, 95%);
    --ink-color: hsl(0, 0%, 12%);
    --line-thickness: 3px;
    --top-space: 4lh;
  }
  
  .paper {
    background: var(--paper-color);
    margin: 2rem;
    padding: calc(var(--top-space) - 0.5lh) 3rem 1rem 5.5rem;
    font-family: system-ui;
    font-size: 1.5rem;
    line-height: 2;
    color: var(--ink-color);
    background-image: 
      /* the red line */ linear-gradient(
        90deg,
        transparent,
        transparent 4rem,
        var(--side-line-color) 4rem,
        var(--side-line-color) 4.25rem,
        transparent 4.25rem
      ),
      /*  The top space  */
        linear-gradient(
          var(--paper-color),
          var(--paper-color) var(--top-space),
          transparent var(--top-space)
        ),
      /* the blue lines */
        repeating-linear-gradient(
          transparent,
          transparent calc(1lh - var(--line-thickness)),
          var(--main-line-color) calc(1lh - var(--line-thickness)),
          var(--main-line-color) 1lh,
          transparent 1lh
        );
    box-shadow: 0 0 1rem rgb(0 0 0 / 0.25);
  }
  